/* Allgemeines Styling für die Tabelle */
table {
  border-collapse: collapse;
  overflow: auto;
  width: 100%;
}

/* Styling für die Tabellenüberschrift */
th {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: left;
}

/* Styling für Tabelleneinträge */
td {
  border: 1px solid #ddd;
  padding: 1rem;
}

.dashboard-table {
  max-width: 100%;
  overflow: auto;
  margin: 0 auto 3rem auto;
}

#row-name {
  white-space: nowrap;
}
